body {
	background-color: rgb(248, 249, 250);
	color: #444;
}

.modal-backdrop.show {
	opacity: 0.15 !important;
}

.graphic-selector-tr .graphic-selector-tr:hover {
	border: 0px;
	background-color: white;
}

.graphic-selector-td {
	border: 0px;
}

.graphic-selector-td:hover {
	background-color: silver;
}

.graphic-selected {
	background-color: blue;
}

.no-overflow {
	overflow: hidden;
}

textarea.noborder:focus {
	box-shadow: 0 0 0 0;
}

textarea.noborder {
	border-width: 0;
}

textarea.textinput {
	font-size: 1.5em;
}

.font-size-08 {
	font-size: 0.8em;
}

.list-row-label {
	min-width:100px;
	max-width:100px;
	font-size: 0.7em;
	color: #666;
	align-self: end;
}

.list-row-text {
	align-self: center;
	color: #333;
	font-size: 0.9em;
}

.list-detail-row {
	height: 20px;
}

.list-price-badge {
	background-color: #456;
	font-size: 1.1em;
}

.list-tool-button {
	font-size: 1.3em;
	padding: 5px;
	color: #333;
}

.list-col-s {
	max-width: 160px;
	min-width: 160px;
}

.list-row {
	/*border-top: 2px solid #ddd;*/
	border-radius: 2px;
	border: solid 1px #ddd;
	margin-bottom: 5px;
}

.list-group-item {
	border-bottom: 1px solid #f9f9f9 !important;
	font-size: 0.9em;
}

.list-group-item.active {
  background-color: #C0C0C0;
  border-color: #C0C0C0;
  color: black;
}

.cursor-pointer {
	cursor: pointer;
}

.small {
	font-size: 0.9em;
}

.header-background {
	border-bottom: 2px solid #e1e2e3 !important;
	border-radius: 0px !important;
}

.header-toolbar-userlink {
	font-size: 0.8em;
	color: #444;
}

.bi {
	color: #333;
	cursor: hand;
	text-overflow: clip !important;
}

.debug-border {
	border: solid red 1px;
}

.station-title {
	font-size: 1.15em;
	font-weight: 400;
}

.station-list-alert {
	color: red;
}

.component-tile {
	margin: 10px;
	background-color: white;
	box-shadow: 1px 1px #eee;
	border-radius: 4px;
}
.component-title {
	font-size: 0.9em;
	font-weight: 500;
	color: #888;
}

.component-label-overlay {
	overflow: overlay !important;
}

.large-switch > input,
.large-switch > label {
	height: 1.4em !important;
	width: 2.5em !important;
	margin-right: 0.6em;
}

.footer-copyright-label {
	font-size: 0.7em;
	color: #888;
}

.cursor-not-allowed {
	cursor: not-allowed;
}